.i-box-input {
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
  height: 35px;
  font-size: 12px;
  border: 2px solid #d7d9d7;
  border-radius: 20%;
  background-color: #fff;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .i-form-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
}

.i-form {
  padding-left: 124px;
  padding-right: 124px;
}

.i-box-default {
  height: auto;
  /* UI Properties */
  background: #F8F8F8 0% 0% no-repeat padding-box;
  border-radius: 18px;
  opacity: 1;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  padding: 41px 29.5px 41px 29.5px;
  margin-bottom: 20px; 
}

.i-box-form {
  height: auto;
  /* UI Properties */
  background: transparent;
  border-radius: 18px;
  opacity: 1;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  margin-bottom: 40px; 
}

.i-box-details {
  height: auto;
  /* UI Properties */
  background: #FFFFFF;
  border-radius: 18px;
  opacity: 1;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  margin: -10px 100px 4px 100px;
  padding: 24px 100px 24px 100px;

}

.i-inputText {
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff;
  border: 2px solid whitesmoke;
}

.i-column-b {
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  text-align: left;
  font-weight: 600;
  padding: 1px;
  margin-top: 10px;
} 

.i-column-bc {
  -ms-flex: 0 0 120px;
  flex: 0 0 120px;
  text-align: left;
  font-weight: 600;
  padding: 1px;
  margin-top: 10px;
} 

.i-column {
  -ms-flex: 0 0 270px;
  flex: 0 0 270px;
  text-align: left;
  padding: 1px;
  margin-top: 10px;
} 

@media (max-width: 690px) {
  .i-column-b {
    display: none; 
  } 
  .i-column {
    display: none; 
  } 
}

.i-table-center{
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 14px;
}

.i-table{
  width: 100%;
  font-size: 8px;
}

/* ---------- BUTTON ---------- */
.i-btn-all-action{
  width: 120px;
  height: auto;
  font-size: 14px;
  border: 0;
  text-align: center;
  border-radius: 20px;
  opacity: 1;
  padding: 2px;
}
.i-btn-status{
  font-size: 12px;
  border: 0;
  text-align: center;
  border-radius: 20px;
  opacity: 1;
  padding: 6px 20px 6px 20px;
}

.i-btn-add{
  line-height: 30px;
  align-items: center;
  display: flex;
  cursor: pointer;
  justify-content: center;
  height: 35px;
  font-weight: bold;
  color: black;
  border-radius: 10px;
  width: fit-content;
  background-color: #f8f1e0;
  padding: 10px;
}

.i-btn-detail{
  right: 15px;
  font-size: 12px;
  font-weight: 600;
  border-bottom:  2px solid #FDB91F;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  background-color: transparent;
}

.i-btn-grey {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 120px;
  height: 20px;
  cursor: pointer;
  font-size: 12px;
  color: #545045;
  border: 0;
  font-weight: 600;
  letter-spacing: 1.27px;
  background: #E0E0E0 padding-box;
}

.i-btn-back {
  background: transparent 0% 0% no-repeat padding-box;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  border-radius: 10px;
  font-size: 14px;
  padding: 5px;
  margin-left: 100px;
  margin-top: 30px;
  opacity: 1;
  width: 200px;
  height: 34px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.i-btn-reject {
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  width: 80px;
  cursor: pointer;
  font-size: 12px;
  line-height: 25px;
  color: #545045;
  border: 1px solid #B2B2B2;
  font-weight: 600;
  background: transparent padding-box;
  margin: auto 10px auto 10px;
}

.i-btn-approve {
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  width: 80px;
  cursor: pointer;
  font-size: 12px;
  line-height: 25px;
  color: #545045;
  border: 0;
  font-weight: 600;
  background: linear-gradient(5.86deg, #FCAF16 -76.97%, #FFCE32 329.3%);
  margin: auto 10px auto 10px;
}

/* DROPDOWN */
.custom-dropdown {
  position: relative;
  display: inline-block;
}

.i-selected-item {
  background-color: #ffff;
  width: 150px;
  border-radius: 10px;
  height: 35px;
  padding-top: 7px;
  padding-bottom: 5px;
  padding: 8px;
  cursor: pointer;
}

.i-dropdown-list {
  margin-top: 5px;
  border-radius: 10px;
  display: none;
  position: absolute;
  z-index: 1;
  list-style: none;
  padding: 0px;
}

.i-dropdown-list li {
  background-color: #ffff;
  width: 150px;
  padding: 5px;
  cursor: pointer;
  border-bottom : 1px solid #f3f3f3;
}

.i-dropdown-list li:hover {
  opacity: 1;
  background-color: #F9E6BC;
}

.c_bx_ico_search_submit {
  position: absolute;
  top: 10px;
  right: 15px;
}

.c_ico_search {
  float: left;
  width: 16px;
  height: 16px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAYAAABvVQZ0AAAABHNCSVQICAgIfAhkiAAAAk9JREFUOE+llD9oE1EYwL3TI3GoYgYDVXCpRGyFOnZoIYuDFa1tjaBLT4f8HQQFB3GxIA4txIQ0/wzN4CC0WktbwUEQcdBBBP8MgqDSoSId1UrMJf5efHc8r40n9uDje9973/f7/ry707a4nkKhMKxp2plms9nP0W70mq7rL9BzPp9vyjTNH+4Y29bsRTab7TQMo4h9THH+ydpQ7GWgiXg8vrgRsAUrl8tBy7IesexGVpCJer1+N5VKfapUKh21Wu0I1SbZD0vIqVgsNusGtmC0dg91EnlC0Eg0Gl3dKDN+N9i/jHwn2UGRTPXTcDjKxhKySnWHksnk53YzkYnvoE8jU1QnqnUeAbuNdZaKrlDR9b+BxFk+n+/B9zXLtUAg0BGJRCw7RsCWMfY2Go0DiUTinRdMVvcS3UtMHzHPVFgTw6Lkbf8CUmfMzQ5zs3MqrI6xNRQKGeFwWKw9H7oRr8YgcpwiFlSY6F/MoZ+ZPfUk/Z7bR/z3caM93OhbB8bBBAcX2SiRJeoFo6oT+Nwn5j3J96v+WqlU6maQb+TmIMAH7YDpdDrIJ/VcVIVcAjb5B0xe9zUOryLfsE2cZtzAXC7XxTf6GJ89nH0hadDt43yblH+Lw/PS4SF6ieAPvMi70APc3Dn2dHQDoM66CtBcV5m9wfzE7MZx3t6m1SrgKmOZ53ynG+hUZgdnMpkdfr9/lIr6gIpWvqJfAVjknWrNtlgsDolfkoxxKlwH87pNpYsxkkxL+yYtX/hvmLw4B0j7hzcFs1tmBEOMYGzTMHUsvwC3o+4TXxAtwwAAAABJRU5ErkJggg==');
  background-size: 100%;
}

.c_sel_normal {
  font-size: 14px;
  line-height: 1;
  border: 0;
  border-radius: 10px;
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAGCAYAAAAYLBS/AAAABHNCSVQICAgIfAhkiAAAALpJREFUGFdjDA1wTfjPwKj/h+FX44YNBz4w4AAhAS4OjAwM+b8Z/iQyAjkFDAyM/f8ZGB4wMvxPXLNhzwFkfQEBDgIsDGz1DAz/geoYHrIwMIM0MzCATAFqXABkygM1L/jL8LsQZCtIHOiK+UBFCkDxiUDxBpA4WBMMhAS4NQBNBJrK8AGoaANQMgGIL/4H2oLsAhRNIM1APxoAqQVATfpA2xvXbNgFNAgVYGiCSUcEeCis2LDjAbZwAQDCqUEHrJY8/gAAAABJRU5ErkJggg==') no-repeat right #ffffff;
  -webkit-appearance: none;
}
.i-custom-search .dataTables_filter {
  display: none;
}

//i-timeline
.i-timeline{
  counter-reset: test;
  position: relative;
}

.i-timeline li{
  counter-increment: test;
  list-style: none;
  float: left;
  width: 33.33%;
  position: relative;
  text-align: center;
}

.i-timeline li:before{
  content: counter(test);
  font-size: 11px;
  width: 20px;
  height: 20px;
  border: 1px solid #eaebe8;
  border-radius: 50%;
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  margin: 0 auto -10px auto;
  background: #eaebe8;
  box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 4px #eaebe8;
  color: #000;
  transition: all ease-in-out .3s;
}

.i-timeline li:after{
  content: "";
  position: absolute;
  width: 75%;
  height: 1px;
  background-color: grey;
  top: 10px;
  left: -47.5%;
  z-index: -999;
  transition: all ease-in-out .3s;
  margin: 0 20px 0 20px;
}

.i-timeline li:first-child:after{
  content: none;
}
.i-timeline li.active-tl{
  color: #555555;
}
.i-timeline li.active-tl:before{
  background: #FCAE15;
  box-shadow: 0px 0px 0px 2px #FCAE15, 0px 0px 0px 4px #eaebe8;
}

.i-timeline li.active-tl + li:after{
}

//forms
#i-msform {
  text-align: center;
  position: relative;
}

#i-msform fieldset {
  background: transparent;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;

  /*stacking fieldsets above each other*/
  position: relative;
}

#i-msform h2 {
  font-weight: bold;
  padding: 50px 84px 50px 84px;
}

.i-form-card {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  background: #F8F8F8 0% 0% no-repeat padding-box;
  border-radius: 15px;
}

.i-form-row {
  display: flex;
  padding-left: 84px;
  padding-right: 84px;
  padding-bottom: 20px;
  vertical-align: middle;
  overflow-y: hidden;
}

.i-form-row .i-fieldLabels {
  font-size: 14px;
  color: #545045;
  margin-right: 10px;
  width: 20%;
  line-height: 15px;
  white-space: nowrap;
}


/*Hide all except first fieldset*/
#i-msform fieldset:not(:first-of-type) {
  display: none;
}

#i-msform input, #i-msform textarea {
  border: 0px solid #fff;
  border-radius: 8px;
  width: 80%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 12px;
  letter-spacing: 1px;
  outline: none;
}

#i-msform input:focus, #i-msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #fff;
  outline-width: 0;
}

/*Next Buttons*/
#i-msform .action-button {
  width: 200px;
  background: #FDBB20;
  line-height: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: 0 none;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right;
}

#i-msform .action-button:hover, #i-msform .action-button:focus {
  /* background-color: #311B92; */
}

/*Previous Buttons*/
#i-msform .action-button-previous {
  width: 200px;
  font-weight: bold;
  border: 0 none;
  line-height: 20px;
  border: 1px solid #707070;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right;
  background: transparent;
}

#i-msform .action-button-previous:hover, #i-msform .action-button-previous:focus {
}

/*Icon progressbar*/
#i-progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
  display: flex;
  justify-content: space-between;
  padding: 0;
  position: relative;
  counter-reset: test;
}

#i-progressbar .active {
  color: #673AB7;
}

#i-progressbar li {
  counter-increment: test;
  list-style-type: none;
  font-size: 8px;
  width: 100%;
  float: left;
  position: relative;
  font-weight: 400;
}

/*Icon#i-ProgressBar before any progress*/
#i-progressbar li:before {
  content: counter(test);
  width: 33px;
  height: 33px;
  line-height: 20px;
  display: block;
  font-size: 12px;
  border: 5px solid #D6D9D7;
  border-radius: 100%;
  margin: 10px auto 10px auto;
  padding: 2px;
  box-shadow: 0px 0px 0px 2px lightgray;
  color: #555045;
  background: lightgray;
}
#i-progressbar li:first-child:after {
  content: none;
  }

#i-progressbar li:after {
  content: '';
  width: 80%;
  height: 2px;
  background: #FDB71D;
  position: absolute;
  left: -40%;
  top: 25px;
  z-index: -1;
  transition: all ease-in-out .3s;
}

/*Color number of the step and the connector before it*/
#i-progressbar li.active:before {
  background: #FDB71D;
  box-shadow: 0px 0px 0px 2px #FCAE15;
}

  /*Step Count*/
.i-steps {
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right;
}

/* MODAL */
.i-cancel-modal {
  width: 600px;
  background: #F8F8F8 0% 0% no-repeat padding-box;
  border-radius: 15px;
  max-width: 600px;
}

.i-modal-title {
  color: #4E5554;
  font-weight: bold;
}

.i-modal-content-txt {
  color: #7D8786;
  font-weight: normal;
}

.i-modal-content {
  margin: 10% auto;
  padding: 30px;
}

.i-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}